<main>
	<section>
		<h1>El título de la página</h1>
		<h2>Segundo título</h2>
		<p>
			Un párrafo simple, <span>acompañado de un "span"</span>.
		</p>
		¡HOLA!
		<ul>
			<li>Primero</li>
			<li>Segundo</li>
			<li>Tercero</li>
			<li>Cuarto</li>
			<li>Quinto</li>
		</ul>
	</section>
</main>
