<h1 id="t-tulo">Título</h1>
<p>Este es el inhalt de este fichero.</p>
<h2 id="cambio-de-ubicaci-n-">Cambio de ubicación:</h2>
<pre><code class="lang-js">gulp.task(&#39;markdown&#39;, () =&gt;
    gulp.src(&#39;src/md/*.md&#39;)
        .pipe(markdown())
        .pipe(gulp.dest(&#39;src/nunjucks/templates/partials/md2html&#39;))
);.
</code></pre>
<p>Listo. Otra cosa ahora.</p>
<pre><code class="lang-scss">body {
    section {
        article {
            p {
                color: white;
            }
        }
    }
}
</code></pre>
<h2 id="fin">Fin</h2>
<p>Aquí termina este fichero.</p>
<p>Tengo que recordar cómo ver el asunto de entregar el código
con un formato <code>css</code> decente.</p>
