<!--
Carga este archivo desde templates/
Atención, que los nombres de los bloques
no pueden llevar signo-menos entremedio
-->
{% extends "layout.njk" %}

{% block testGulpNunjucks %}
	{% include "partials/main.njk" %}
{% endblock %}
