header {
	grid-area: header;
	display: flex;
	align-items: center;
	justify-content:flex-start;
	background: grey;
	> h1 {
		font-family: Ubuntu;
		font-size: 64px;
		margin:20px;}
		color:darkgreen;
}
