header {
	grid-area: header;
	display: flex;
	flex-direction: column;
	align-items: space-around;
	justify-content: space-around;
	background: $negro-tinta;
	// background: linear-gradient(rgba(hsl($negro-tinta))), url("../img/header.jpg");
	background: linear-gradient(to right, $negro-tinta, $negro-tinta, $blanco-leche, transparent), url("../img/header.jpg") no-repeat;
	background: linear-gradient(to right, $negro-tinta 15%, $negro-tinta 30%, transparent 100%), url("../img/header.jpg") no-repeat;
	background: linear-gradient(269deg, rgba(255,0,0,0.1) 0%, $negro-tinta 67%, $negro-tinta 97%), url("../img/header.jpg") no-repeat;

	> h1 {
		font-family: Ubuntu;
		font-size: 100px;
		margin: 20px 35px 0;
		color: $rojo-sangre;
	}

	> p {
		font-size: 14px;
		color: $blanco-leche;
		margin: 0;
		padding: 0 0 32px 45px;
		font-family: Ubuntu;
		> a,
		a:link {
			color: $verde-yerba;
		}
	}
}
