main {
	grid-area: main;
	// display: flex;
	// align-items: center;
	// justify-content: center;
	background: $blanco-leche;
	color: $negro-tinta;

	article {
		margin-top: 45px;
		margin-left:80px;
		margin-right: 42px;
		margin-bottom: 45px;
		> h1 {
			padding: 45px 0px 0;
			margin-bottom: 0;
			font-family: 'IBM Plex Sans';
			font-size: 40px;
			color: $gris-negro;
		}

		> p {
			font-family: 'IBM Plex Serif';
			font-weight: 400;
			padding: 25px 7px;
			margin: 0;
			margin-left: 42px;
			font-size: 21px;
			line-height: 160%;
			hyphens: auto;
		}

		> pre {
			font-size: 16px;
			margin-left: 49px;
			color: $rojo-sangre;
		}

		> p+p {
			padding-top: 0;
		}
	}
}
