html {
	background: black;
}

body {
	max-width: 1080px;
	margin: auto;
	padding: 0;
	display: grid;
	grid-template-rows: auto auto 1fr auto;
	grid-template-columns: 4fr 1fr;
	grid-template-areas: "header header" "nav nav" "main aside" "footer footer";
	grid-gap: 0px;
	// height: 100vh;
	background: lightblue;
}
